* {
	margin: 0;
}
body {
	background-color: #ddffff;
}
.wrapper {
	background-color: #55a8e8;
	text-align: center;
}
.header {
	padding-top: 3px;
}
.content {
	background-color: #eeffff;
	padding: 3px;
}
.footer {
	color: #ddffff;
	line-height: 1.2;
	padding: 3px;
}